<%= render 'shared/page_title', title: "ChefChat" %>

<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="ChefChats">
        <%= render @messages %>
    </div>
    <hr />
    <div class="message-container">
      <%= form_for(@message, remote: true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control", data: {behavior: "room_speaker"}, placeholder: "Enter message" %>
          <%= f.submit "Send", class: "btn btn-primary btn-lg btn-xlarge", data: {send: "message"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>